body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.perfil-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.perfil-card {
    background-color: #1e2a38;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.perfil-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #00ff99;
}

.perfil-card h2 {
    margin: 10px 0;
}

.perfil-card a {
    display: inline-block;
    text-decoration: none;
    background-color: #00ff99;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.perfil-card a:hover {
    background-color: #00cc77;
}

.perfil-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.7);
}

.creditos {
    margin-top: 10px;
    font-size: 0.9em;
    color: #00ff99;
}


footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: grey
}
